@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#f8fcfc ;
  --background-sec:#7a88c3 ;
  --primary: #ffffff;
  --secondary: #383a59;
  --ring: #7988c0;
  
  --accent: #374ced;
  --accent-hover: #374ced;
  --tertiary: #0f4ccf;
  --tertiary-hover: #ccccccd2;
  --dot: #f94545;
  --select: #cccccc;
}

[data-theme="dark"] {
    --background: #000000;
  --background-sec: #16171a;
  --primary: #ffffff;
  --secondary: #ffffff;
  --ring: #616161;
  --accent: #5a72ff;
  --accent-hover: #6f84ff;
  --tertiary: #0f4ccf76;
  --tertiary-hover: #28304a;
  --dot: #ff5c5c;
  --select: #232b3d;
 
}
/* BODY */
body {
  @apply bg-[var(--primary)] text-[var(--primary)] leading-relaxed;
}
::selection {
  background-color: theme('colors.accent');
  color: white;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(7, 89, 231, 0.5);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(49, 104, 222, 0.5);
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid var(--accent);
  background: var(--tertiary);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #f3191900 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}
.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(65, 191, 170, 0) 0%,
    #4357f0 50.51%,
    #2fb8ba 80.91%
  );
}

.card:hover::before {
  opacity: 1;
}
.card-border {
    @apply border border-background bg-background-sec;
  }
  .timeline {
    @apply absolute z-20 h-[110%] -top-10 w-14 md:w-28 bg-background;
  }
  
.timeline-logo {
  @apply md:size-12 size-8 bg-background flex-none lg:left-4 rounded-full flex justify-center 
         items-center border border-transparent z-30 relative;
}
.timeline-wrapper {
  @apply absolute z-10 top-0 lg:left-[443px] md:left-6 left-4 h-full flex flex-col items-center justify-start;
}

